Aplicando Bibliotecas

In [1]:
import pandas as pd 
import json

Coleta de Placas

In [2]:

lista_placa = []
flag = None
placa_completa = []

print("Caso queira para de rodar digite \".exit()\" ou apenas click em Enter")

while flag == None:
    print("-"*40)
    print("\n")
    print("Escreva sua placa:")
    try:
        placa = input(">>> ")

        if placa == ".exit()" or placa == "":
            flag = True
            break
        placa_completa.append(placa)
        lista_placa.append(int(placa[-1]))
    except:
        print("Impossivel verificar")


dicionario = {
    "placa": placa_completa,
    "last_char":lista_placa,
    "status" : [],
}

Caso queira para de rodar digite ".exit()" ou apenas click em Enter
----------------------------------------


Escreva sua placa:
----------------------------------------


Escreva sua placa:
----------------------------------------


Escreva sua placa:
----------------------------------------


Escreva sua placa:

Identificação do dia no qual não podemos dirigir

In [3]:
def resposta(lista):
    for placa in lista:
        match placa:
            case 1 | 2:
                print("Não pode andar na segunda-feira")
                dicionario["status"].append("segunda")
            case 3 | 4:
                print("Não pode andar na terça-feira")
                dicionario["status"].append("terca")
            case 5 | 6:
                print("Não pode andar na quarta-feira")
                dicionario["status"].append("quarta")
            case 7 | 8:
                print("Não pode andar na quinta-feira")
                dicionario["status"].append("quinta")
            case 9 | 0:
                print("Não pode andar na sexta-feira")
                dicionario["status"].append("sexta")
            case _:
                print("Não foi possível ler a placa")
                dicionario["status"].append("Sem status")
                
resposta(lista_placa)

Não pode andar na terça-feira
Não pode andar na quinta-feira
Não pode andar na sexta-feira

Criação de um arquivo Json e Tabela para inserção em DB

In [4]:
print("-"*40)
print("\n")

# Criando tabela com os dados:
df = pd.DataFrame(dicionario)

# Demonstração d tabela:
display(df)

print("-"*40)
print("\n")
print("\n")

# Criando arquivo json com os dados
df.to_json("tabela_nova.json")

caminho = r"C:\Users\daniel.sbatista\Documents\Estudo\Projetos_Python\Aprendendo Python\tabela_nova.json"

# Abrindo arquivo para demonstração em Json:
with open(caminho) as arquivo:
    arqv_json = json.load(arquivo)
    print(arqv_json)
    dados = json.dumps(arqv_json,indent=5,sort_keys=True)
    print(dados)

----------------------------------------

     placa  last_char  status
0   JKL234          4   terca
1   DFG567          7  quinta
2  RIUT789          9   sexta

----------------------------------------




{'placa': {'0': 'JKL234', '1': 'DFG567', '2': 'RIUT789'}, 'last_char': {'0': 4, '1': 7, '2': 9}, 'status': {'0': 'terca', '1': 'quinta', '2': 'sexta'}}
{
     "last_char": {
          "0": 4,
          "1": 7,
          "2": 9
     },
     "placa": {
          "0": "JKL234",
          "1": "DFG567",
          "2": "RIUT789"
     },
     "status": {
          "0": "terca",
          "1": "quinta",
          "2": "sexta"
     }
}